.dark {
    background-color: rgb(20, 20, 54);

    h1 {
        color: red;
    }
    #webcam{
            border-radius: 10px;
            border:5px solid rgb(194, 135, 25);
            width:500px;
            height:400px;
        }
}

#webcam {
    border-radius: 10px;
    border: 5px solid orange;
    width: 500px;
    height: 400px;
}