<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="dark">
  <div class="hero">
  <div class="hero-content">
    <h1>Photobooth</h1>
    <h2 class="typewriter">Capturing memories, creating an experience!....</h2>
  </div>

  <canvas id="canvas"></canvas>

  <nav class="nav">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="capture.html">Capture</a>
  </nav>
</div>
</body>
</html>
